@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Geist+Mono:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@utility scrollbar-hide {
  /* Firefox */
  scrollbar-width: none;
  /* IE and Edge */
  -ms-overflow-style: none;
  /* Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

@theme {
  --color-app-bg-dark: #0a0a0a;
  --color-app-bg-light: #FAFAFA;
  --color-card-bg: #1b1b1b;
  --color-accent:#7dd3fc; 
  --color-border: #2d2d2d;
  --font-inter: "Inter";
  --font-outfit: "Outfit";
  --font-bebas: "Bebas Neue";
  --font-urbanist: "urbanist";
  --font-montserrat: "montserrat"; 
}

body{
    @apply bg-app-bg-dark text-white font-sans;
}

/* Target the scrollbar width */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

/* The track (the background) */
.custom-scrollbar::-webkit-scrollbar-track {
  background: #1b1b1b; 
  border-radius: 10px;
}

/* The handle (the part that moves) */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #3f3f46; /* Tailwind zinc-700 */
  border-radius: 10px;
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #52525b; /* Tailwind zinc-600 */
}