@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Geist+Mono:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body{
    @apply bg-[#0a0a0a] text-white font-sans;
}

@theme {
  --color-app-bg: #101010;
  --color-card-bg: #1b1b1b;
  --color-accent:#006CFA; 
  --color-border: #2d2d2d;
  --font-inter: "Inter";
  --font-outfit: "Outfit";
  --font-bebas: "Bebas Neue";
  --font-urbanist: "urbanist";
  --font-montserrat: "montserrat";
}
